[user]
	email = afiskon@gmail.com
	name = Aleksander Alekseev
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
[core]
	excludesfile = /home/eax/.gitignore_global
    pager = vim -u ~/.vimrc.less -
[color]
	ui = false
